*{
  text-align: center; 
}

#bio-img{

    float: none;
}

.box{
    margin-bottom: 20px;
   background-color: #5e7585;
   padding: 10px;
   border-radius: 15px;

}

#bio{
    margin-right: 20px ;
    border: solid 4px black;
    
}
