* {
  text-align: center;
}

/* Utility */
.box {
  margin: 20px 0px;
  background-color: #5e7585;
  padding: 40px;
  border-radius: 15px;
}

.outline {
  border: solid 4px black;
}

.nopadding {
  padding: 0px !important;
}

/* Top Section */
#title {
  margin-bottom: 20px;
}

#inputForm {
  margin-bottom: 20px;
}

/* Img/Bio Section */
.bioDiv {
  margin-right: 30px;
  margin-left: 15px;
}

.imgDiv {
  margin-right: 15px;
  margin-left: 30px;
}

#img {
  width: 400px;
  height: 300px;
}

/* Carousel/Top Songs */
.d-flex {
  padding-left: 0px;
  padding-right: 0px;
}

#topAlbums {
  margin-bottom: 30px;
}

#topSongs {
  margin-top: 70px;
  margin-bottom: 30px;
}

.equal {
  height: 95%;
}

.display-none {
  display: none;
}

.display-all {
  display: block;
}

#alert-message {
  margin-top: 30px;
}

iframe {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Tour Dates */

.tickets {
  color: navy;
}
